/* 
 * Size and positioning 
 */
#calendar {
	width: 100%;
}

.day {
	position: relative;
	margin: 3px;
	padding: 3px;
}

.dayfooter {
	clear: both;
	height: 0px;
}

.event {
	position: relative;
	margin-left: 100px;
	padding: 2px;
	clear: both;
}

.date {
	position: absolute;
	width:100px;
}

.time {
	height: 15px;
	width: 100%;
}

.starttime {
	float: left;
	width: 40%;
	text-align: left;
}
.timedelimiter {
    float: left;
    width: 10%;
    text-align: center;
}
.endtime {
    float: left;
	width: 40%;
    text-align: right;
}

.col2 {
	float: left;
	width: 150px;
	clear: both;
}

.desc, .summary  {
	margin-left: 170px;
	margin-right: 50px;
	z-index: 1;
}

.tags {
	float: left;
	width: 100px;
}

.tag {
	float: left;
	margin-right: 3px;
}


.toggleMark {
	position: absolute;
	margin-left: 150px;
	width: 10px;
	z-index: 2;
}

.event .admin {
	position: 	absolute;
	top:		0px;
	right: 		0px;
}

.event .admin .edit,.event .admin .delete {
	display: block;
	float: right;
	width: 20px;	
}

#calendarPreNav {
	height: 20px;
}

ul#calendarPreNav>li, ul#calendarPostNav>li {
	list-style: none;
	padding: 0px;
    display: block;
    float: left;
    margin: 2px;
}

a.create, a.addtag {
    margin: 0 10px;
}

a.pageNumber {
    margin: 0 5px;
}
/* 
 * Look 
 */ 
.day.odd, .dayfooter.odd {
	border: 1px solid #FFF;
	background-color: #DED;
}

.day.even, .dayfooter.even {
	border: 1px solid #FFF;
	background-color: #DDE;
}

.summary, .date, .time {
	font-weight: bold;
}

.event .summary a,
.event .summary a:link,
.event .summary a:visited,
.event .summary a:active { 
	font-weight:bold;
	text-decoration:none;
	color: black;
}
.event .summary a:hover { 
	font-weight:bold;
	text-decoration:underline;
	color: black;
}

.event .summary {
}

.event {
	font-family:Verdana,Sans-serif;
	font-size:85%;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.3em;
}

#calendar {
	font-family:Arial,Sans-serif;
	font-size:small;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2em;
}

#errormessages {
	background-color: #FF9999;
	color: black;
	border: 2px solid red;
}

#infomessages {
	background-color: #99FF99;
	color: black;
	border: 2px solid green;
}

body {
	font-family:Arial,Sans-serif;
	font-size:small;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:normal;
}

/* form fields */
#datetimestart,#datetimeend {
	position:relative;
	height: 25px;
}
#dtstart,#dtend {
	position: absolute;
	top: 0px;
	left: 50px;
	width: 100px
}

#tmstart,#tmend {
	position: absolute;
	left: 160px;
	top: 0px;
	width: 50px;
}

fieldset {
}